// Font variables
$logo-font-name: "Libel Suit";
$font-path-file-name: "/fonts/libel-suit.regular";

// font_name font
@font-face {
  font-family: $logo-font-name;
  src: url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.navbar {
  background-color: #7577B9;
  border-radius: 0px;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: white;
}

.navbar-title-text {
  font-family: $logo-font-name;
  color: white !important;
}
